VITE_BACKEND_URL=http://localhost:3000
DISABLE_BACKEND_PREFIX=false
IMAGE_URL_PREFIX=

# telemetry and metrics
VITE_TELEMETRY_ENDPOINT=http://localhost:3000/api/telemetry
TELEMETRY_STATS_TOKEN=
METRICS_BEARER_TOKEN=